# Limpieza de datos final de estudiantes
Uniremos los datasets ya limpiados para hacer un dataset final de estudiantes.

## 1. Importar librerías
Importamos las librerías que vamos a utilizar.

In [2]:
import pandas as pd

## 2. Importar datasets
Importamos los datasets que vamos a utilizar.

In [3]:
df_asistencia = pd.read_csv('output_data/asistencia.csv', sep=',')
df_rendimiento = pd.read_csv('output_data/rendimiento_estudiantes.csv', sep=',')
df_SEP = pd.read_csv('output_data/SEP.csv', sep=',')

## 3. Unir datasets
Unimos los datasets que vamos a utilizar.

In [10]:
# Merge dataframes
df = pd.merge(df_asistencia, df_rendimiento, on=['MRUN', 'RBD'], how='inner')
df = pd.merge(df, df_SEP, on=['MRUN', 'RBD'], how='inner')

In [11]:
df

,MES_ESCOLAR,COD_PRO_RBD,RBD,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,COD_ENSE2,DIAS_ASISTIDOS,ASIS_PROMEDIO,COD_REG_RBD,COD_JOR,PROM_GRAL,SIT_FIN_R,CONVENIO_SEP,COD_COM_RBD,BEN_SEP,CRITERIO_SEP,PREFERENTE_ALU,PRIORITARIO_ALU
0,8,31,396,1868052,2,200805,3101,7,14,0.700000,3,3,4.7,R,1,3101,1,1,0,1
1,8,31,396,17387260,2,200712,3101,7,15,0.750000,3,3,3.6,R,1,3101,1,0,1,0
2,8,31,396,19326217,1,200711,3101,7,10,0.500000,3,3,4.5,R,1,3101,1,1,0,1
3,8,31,396,1131685,1,200703,3101,7,12,0.600000,3,3,3.7,R,1,3101,1,2,0,1
4,8,31,396,23086414,2,200710,3101,7,14,0.700000,3,3,4.3,R,1,3101,1,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567632,8,132,41859,22229505,2,201308,13201,2,21,1.000000,13,3,6.3,P,1,13201,1,2,0,1
567633,8,132,41859,22558601,2,201312,13201,2,19,0.904762,13,3,6.8,P,1,13201,1,0,1,0
567634,8,132,41859,24044317,2,201310,13201,2,20,0.952381,13,3,6.3,P,1,13201,1,2,0,1
567635,8,136,42018,9949986,1,201302,13601,2,22,1.000000,13,1,5.6,P,0,13601,0,2,0,1
567636,8,136,42018,4060836,1,200707,13604,5,22,1.000000,13,1,6.5,P,0,13601,0,1,0,1

### 3.1 Drop columns
Eliminamos las columnas que no vamos a utilizar.

In [13]:
columns_to_drop = ['MES_ESCOLAR', 'CONVENIO_SEP','CRITERIO_SEP' ]
df = df.drop(columns_to_drop, axis=1)

## 4. Exportar data
Exportamos el dataset final de estudiantes.

In [14]:
df.to_csv('../analisis_data/estudiantes.csv', sep=',', index=False)