# Limpieza de datos final de colegios
Uniremos los datasets ya limpiados para hacer un dataset final de colegios.

## 1. Importar librerías
Importamos las librerías que vamos a utilizar.

In [2]:
import pandas as pd

## 2. Importar datasets
Importamos los datasets que vamos a utilizar.

In [3]:
df_directorio = pd.read_csv('output_data/directorio.csv', sep=',')
#df_SEP = pd.read_csv('output_data/SEP.csv', sep=',')
df_resumen_rendimiento = pd.read_csv('output_data/resumen_rendimiento.csv', sep=',')

## 3. Unir datasets
Unimos los datasets que vamos a utilizar.

In [8]:
# Merge dataframes
df = pd.merge(df_directorio, df_resumen_rendimiento, on=['RBD','COD_COM_RBD','NOM_RBD'])

In [9]:
df

,RBD,NOM_RBD,COD_COM_RBD,COD_DEPE2,LATITUD,LONGITUD,MAT_TOTAL,ESTADO_ESTAB,ENS_01,COD_ENSE2,COD_PRO_RBD,PROM_ASIS,PROM_ASIS_REP
0,396,INSTITUTO COMERCIAL ALEJANDRO RIVERA DÍAZ,3101,5,-27.363791,-70.334877,685,1,410,7,31,86.783737,49.409091
1,396,INSTITUTO COMERCIAL ALEJANDRO RIVERA DÍAZ,3101,5,-27.363791,-70.334877,685,1,410,7,31,86.629213,31.000000
2,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,3,31,84.027027,74.500000
3,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,3,31,85.352941,47.000000
4,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,6,31,75.500000,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,41617,COLEGIO SAN FRANCISCO TECNICO PROFESIONAL,13114,1,-33.403870,-70.536540,1573,1,10,7,131,83.292135,59.000000
2980,41780,COLEGIO ALICANTO,3101,3,-27.391410,-70.296346,356,1,110,2,31,87.846473,85.000000
2981,41794,ESCUELA PREMILITAR PEQUEÑOS HEROES DE LACONCEP...,13130,2,-33.488521,-70.652189,163,1,110,2,131,94.897143,85.000000
2982,41845,COLEGIO BOSTON COLLEGE LAGUNA DEL SOL,13604,3,-33.569790,-70.828610,399,1,10,2,136,85.441860,85.000000
2983,41859,ESCUELA BASICA COLEGIO TRIGALES DEL MAIPO,13201,2,-33.614250,-70.615650,295,1,10,2,132,85.692308,75.400000

### 3.1 Drop columns
Eliminamos las columnas que no vamos a utilizar.

In [10]:
df

,RBD,NOM_RBD,COD_COM_RBD,COD_DEPE2,LATITUD,LONGITUD,MAT_TOTAL,ESTADO_ESTAB,ENS_01,COD_ENSE2,COD_PRO_RBD,PROM_ASIS,PROM_ASIS_REP
0,396,INSTITUTO COMERCIAL ALEJANDRO RIVERA DÍAZ,3101,5,-27.363791,-70.334877,685,1,410,7,31,86.783737,49.409091
1,396,INSTITUTO COMERCIAL ALEJANDRO RIVERA DÍAZ,3101,5,-27.363791,-70.334877,685,1,410,7,31,86.629213,31.000000
2,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,3,31,84.027027,74.500000
3,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,3,31,85.352941,47.000000
4,397,LICEO TÉCNICO PROFESIONAL EDWIN LATORRE RIVERO,3101,5,-27.373079,-70.329651,113,1,165,6,31,75.500000,48.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,41617,COLEGIO SAN FRANCISCO TECNICO PROFESIONAL,13114,1,-33.403870,-70.536540,1573,1,10,7,131,83.292135,59.000000
2980,41780,COLEGIO ALICANTO,3101,3,-27.391410,-70.296346,356,1,110,2,31,87.846473,85.000000
2981,41794,ESCUELA PREMILITAR PEQUEÑOS HEROES DE LACONCEP...,13130,2,-33.488521,-70.652189,163,1,110,2,131,94.897143,85.000000
2982,41845,COLEGIO BOSTON COLLEGE LAGUNA DEL SOL,13604,3,-33.569790,-70.828610,399,1,10,2,136,85.441860,85.000000
2983,41859,ESCUELA BASICA COLEGIO TRIGALES DEL MAIPO,13201,2,-33.614250,-70.615650,295,1,10,2,132,85.692308,75.400000

## 4. Exportar data
Exportamos el dataset final de estudiantes.

In [11]:
df.to_csv('../analisis_data/colegios.csv', sep=',', index=False)